@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* Custom global styles */
html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.thin-border {
  border: 0.5px solid #E7E9ED;
}

.thin-border-bottom {
  border-bottom: 0.5px solid #E7E9ED;
}
.product-sizer
{
  border: red 1px solid;
  display: flex;
  justify-content:stretch;
  padding: 20px;
  

}
.product-item
{
width: 200px;
}
.testClass
{
  display: flex;
  border: yellow 1px solid;
  justify-items: flex-end;
}